@using Microsoft.AspNet.Identity
@using ElectronicSchem.Properties

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink((ViewBag.Languages == "Ru" ? ResourcesRu.Hello : ResourcesEn.Hello) + " " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@(ViewBag.Languages == "Ru" ? ResourcesRu.LogOff : ResourcesEn.LogOff)</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink((ViewBag.Languages == "Ru" ? ResourcesRu.Register : ResourcesEn.Register), "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink((ViewBag.Languages == "Ru" ? ResourcesRu.LogIn : ResourcesEn.LogIn), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
